{% extends "base.html" %}

{% block title %}
  Emend > {{site.domain}}
{% endblock %}

{% block head %}
  <link href="{{site.permlink}}?atom" type="application/rss+xml" rel="alternate" title="{{site}} RSS Feed" />
{% endblock %}

{% block header %}
  > <a href="/sites">Sites</a> > {{site.domain}}
{% endblock %}

{% block content %}
<div class="twelvecol">
  {% if not site.is_saved %}
    <p>
      This site hasn't had any edits yet.
    </p>
  {% endif %}

  <h2 class="first">Most recent open edits</h2>
  
  {% if open %}
    <ul>
      {% for edit in open %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink()}}">&ldquo;{{edit.original|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|escape}}&rdquo;</a> by
          <a href="{{edit.author.permalink()}}">{{edit.author|escape}}</a>
          {{edit.created_pretty_timedelta()}}
        </li>
      {% endfor %}
    </ul>
    {% if has_next_open %}
      <p class="prev-next">
        <a href="{{site.permalink()}}/open?from={{next_open_from}}">more open &rarr;</a>
      </p>
    {% endif %}
  {% else %}
    <p>No edits.</p>
  {% endif %}

  <h2>Most recent closed edits</h2>
  
  {% if closed %}
    <ul>
      {% for edit in closed %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink()}}">&ldquo;{{edit.original|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|escape}}&rdquo;</a> by
          <a href="{{edit.author.permalink()}}">{{edit.author|escape}}</a>
          {{edit.created_pretty_timedelta()}}
        </li>
      {% endfor %}
    </ul>
    {% if has_next_closed %}
      <p class="prev-next">
        <a href="{{site.permalink()}}/closed?from={{next_closed_from}}">more closed &rarr;</a>
      </p>
    {% endif %}
  {% else %}
    <p>No edits.</p>
  {% endif %}
</div>
{% endblock %}
