{% extends "base.html" %}

{% block title %}
  Emend > {{site.domain}} > Closed edits
{% endblock %}

{% block header %}
  > <a href="/sites">Sites</a> > <a href="/sites/{{site.domain}}">{{site.domain}}</a> > Closed edits
{% endblock %}

{% block content %}
<div class="twelvecol">
  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink()}}">&ldquo;{{edit.proposal|escape}}&rdquo;</a>
          by <a href="{{edit.author.permalink()}}">{{edit.author|escape}}</a>
          {{edit.created_pretty_timedelta()}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if has_prev or has_next %}
      <p class="prev-next">
        {% if has_next %}
          <a href="{{site.permalink()}}/closed?from={{next_from}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  
  {% else %}
    <p>No open edits.</p>
  {% endif %}
</div>
{% endblock %}
