{% extends "../base.html" %}

{% block title %}
  Emend > {{site.domain}} > Closed edits
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > <a href="/sites">Sites</a> > <a href="/sites/{{site.domain}}">{{site.domain}}</a> > Closed edits</h1>

  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink}}">&ldquo;{{edit.proposal|escape}}&rdquo;</a>
          by <a href="{{edit.author.permalink}}">{{edit.author|utf8|escape}}</a>
          {{edit.created_pretty_timedelta}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if has_prev or has_next %}
      <p class="prev-next">
        {% if has_next %}
          <a href="{{site.permalink}}/closed?from={{next_from}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  
  {% else %}
    <p>No open edits.</p>
  {% endif %}
  
{% endblock %}
