{% extends "../base.html" %}

{% block title %}
  Emend > {{site.domain}}
{% endblock %}

{% block head %}
  <link href="{{site.permlink}}?atom" type="application/rss+xml" rel="alternate" title="{{site}} RSS Feed" />
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > <a href="/sites">Sites</a> > {{site.domain}}</h1>
  
  {% if not site.is_saved %}
    <p>
      This site hasn't had any edits yet.
    </p>
  {% endif %}
  
  <h2>Most recent open edits</h2>
      
  {% if open %}
    <ul>
      {% for edit in open %}
        <li class="gravatar">
          <img class="gravatar" src="{{edit.author.gravatar}}?s=18">
          <a href="{{edit.permalink}}">&ldquo;{{edit.original|utf8|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|utf8|escape}}&rdquo;</a> by
          <a href="{{edit.author.permalink}}">{{edit.author|utf8|escape}}</a>
          {{edit.created_pretty_timedelta}}
        </li>
      {% endfor %}
    </ul>
    {% if has_next_open %}
      <p class="prev-next">
        <a href="{{site.permalink}}/open?from={{next_open_from}}">more open &rarr;</a>
      </p>
    {% endif %}
  {% else %}
    <p>No edits.</p>
  {% endif %}
  
  <h2>Most recent closed edits</h2>
      
  {% if closed %}
    <ul>
      {% for edit in closed %}
        <li class="gravatar">
          <img class="gravatar" src="{{edit.author.gravatar}}?s=18">
          <a href="{{edit.permalink}}">&ldquo;{{edit.original|utf8|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|utf8|escape}}&rdquo;</a> by
          <a href="{{edit.author.permalink}}">{{edit.author|utf8|escape}}</a>
          {{edit.created_pretty_timedelta}}
        </li>
      {% endfor %}
    </ul>
    {% if has_next_closed %}
      <p class="prev-next">
        <a href="{{site.permalink}}/closed?from={{next_closed_from}}">more closed &rarr;</a>
      </p>
    {% endif %}
  {% else %}
    <p>No edits.</p>
  {% endif %}
{% endblock %}
