{% extends "base.html" %}

{% block head %}
  {% if has_prev %}
    <link rel="prev" href="/sites?from={{prev_from}}" />
  {% endif %}
  {% if has_next %}
    <link rel="next" href="/sites?from={{next_from}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > Sites
{% endblock %}

{% block header %}
  > Sites
{% endblock %}

{% block content %}
<div class="twelvecol">
  
  <h2 class="first">Most popular sites</h2>

  {% if sites %}
    <ul>
      {% for site in sites %}
        <li>
          <a href="{{site.permalink()}}">{{site.domain}}</a>
          {{site.pretty_counts()}}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No sites</p>
  {% endif %}

  {% if has_prev or has_next %}
    <p class="prev-next">
      {% if has_prev %}
        <a href="/sites?from={{prev_from}}">&larr; prev</a>
      {% endif %}

      {% if has_prev and has_next %}|{% endif %}

      {% if has_next %}
        <a href="/sites?from={{next_from}}">next &rarr;</a>
      {% endif %}
    </p>
  {% endif %}
</div>
{% endblock %}
