{% extends "base.html" %}

{% block head %}
  {% if previous %}
    <link rel="prev" href="{{previous.url}}" />
  {% endif %}
  {% if next %}
    <link rel="next" href="{{next.url}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > Sites
{% endblock %}

{% block header %}
  > Sites
{% endblock %}

{% block content %}
<div class="twelvecol">
  
  <h2 class="first">Most popular sites</h2>

  {% if sites %}
    <ul>
      {% for site in sites %}
        <li>
          <a href="{{site.permalink()}}">{{site.domain}}</a>
          {{site.pretty_counts()}}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No sites</p>
  {% endif %}

  {% if previous or next %}
    <p class="prev-next">
      {% if previous %}
        <a href="{{previous.url}}">&larr; prev</a>
      {% endif %}

      {% if previous and next %}|{% endif %}

      {% if next %}
        <a href="{{next.url}}">next &rarr;</a>
      {% endif %}
    </p>
  {% endif %}
</div>
{% endblock %}
