{% extends "base.html" %}

{% block head %}
  {% if previous %}
    <link re="prev" href="{{previous.url}}" />
  {% endif %}
  {% if next %}
    <link re="next" href="{{next.url}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > {{site.domain}} > Open edits
{% endblock %}

{% block header %}
  > <a href="/sites">Sites</a> > <a href="/sites/{{site.domain}}">{{site.domain}}</a> > Open edits
{% endblock %}

{% block content %}
<div class="twelvecol">
  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink(handler.urlize)}}">&ldquo;{{edit.proposal|escape}}&rdquo;</a>
          by <a href="{{edit.author.permalink(handler.urlize)}}">{{edit.author|escape}}</a>
          {{edit.created_pretty_timedelta()}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if previous or next %}
      <p class="prev-next">
        {% if previous %}
          <a href="{{previous.url}}">&larr; prev</a>
        {% endif %}
        {% if previous and next %}
          |
        {% endif %}
        {% if next %}
          <a href="{{next.url}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  
  {% else %}
    <p>No open edits.</p>
  {% endif %}
</div>
{% endblock %}
