[submodule "vendor/megaera"]
	path = vendor/megaera
	url = git@github.com:dodgeballcannon/megaera.git
[submodule "vendor/jellyfish"]
	path = vendor/jellyfish
	url = git://github.com/dodgeballcannon/jellyfish.git
[submodule "vendor/pretty_timedelta"]
	path = vendor/pretty_timedelta
	url = git://github.com/dodgeballcannon/pretty_timedelta.git
[submodule "vendors/awesome-buttons"]
	path = vendors/awesome-buttons
	url = git://github.com/gr2m/awesome-buttons.git
