wsgiref==0.1.2
Jinja2==2.6
-e git+ssh://git@github.com/tantalor/megaera.git#egg=Megaera
-e git+ssh://git@github.com/tantalor/pblib.git#egg=pblib
-e git+ssh://git@github.com/tantalor/tblib.git#egg=tblib
-e git+ssh://git@github.com/tantalor/gaeunit.git#egg=gaeunit
-e git+ssh://git@github.com/tantalor/pretty_timedelta.git#egg=pretty_timedelta
-e git+ssh://git@github.com/tonyg/python-rfc3339.git#egg=rfc3339
html5lib==0.90
Django==1.3
PyYAML==3.10
WebOb==1.1rc1
antlr-python-runtime==3.1.3
ipaddr==2.1.9
simplejson==2.1.6
