{% extends "../../base.html" %}

{% block head %}
  <link rel="canonical" href="{{edit.permalink}}">
{% endblock %}

{% block title %}
  Emend > {{site.domain}} > {{edit.proposal|truncate:32|utf8|escape}}
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > <a href="/sites">Sites</a> > <a href="/sites/{{site.domain}}">{{site.domain}}</a> > {{edit.proposal|truncate:28|utf8|escape}}</h1>
  
  <p><img class="gravatar feature" src="{{edit.author.gravatar}}?s=72">According to <a href="{{edit.author.permalink}}">{{edit.author|utf8|escape}}</a>, &ldquo;{{edit.original|utf8|escape}}&rdquo; should be &ldquo;{{edit.proposal|utf8|escape}}&rdquo; on <a href="{{edit.url|utf8}}">{{edit.url|truncate:45|utf8|escape}}</a>.<p>
    
  <p>This was first noticed on <abbr title="{{edit.created.isoformat}}">{{edit.created_short}}</abbr>, about {{edit.created_pretty_timedelta}}.</p>
  
  <h2>Original</h2>
  <blockquote class="diff original">
    {% diff_src edit.original edit.proposal %}
  </blockquote>

  <h2>Proposal</h2>
  <blockquote class="diff proposal">
    {% diff_dst edit.original edit.proposal %}
  </blockquote>
  
  <h2>Things to do</h2>
  
  <p><a href="http://twitter.com/home?status={{edit.as_tweet|utf8|urlencode}}">Tweet this</a></p>
  
  {% if edit.can_edit and edit.is_open %}
    <p><span class="fakelink click-close">Change to &ldquo;fixed&rdquo;</span></p>
  {% endif %}
  
  {% if edit.can_edit and edit.is_closed %}
    <p><span class="fakelink click-open">Change back to &ldquo;unfixed&rdquo;</span></p>
  {% endif %}
  
  {% if edit.can_edit %}
    <p><a href="{{edit.permalink}}/update">Update this</a></p>
    <p><span class="fakelink click-delete">Delete this</span></p>
  {% endif %}
  
  <p>
    <span class="fakelink click-pingback">Pingback</span> -
    <span class="fakelink click-trackback">Trackback</span>
  </p>
  
  {% if prev or next %}
    <p class="prev-next">
      {% if prev %}
        <a href="{{prev.permalink}}">&larr; {{prev.proposal|truncate:32|utf8|escape}}</a>
      {% else %}
        {% ifnotequal edit.site.open 1 %}
          <a href="{{edit.site.permalink}}/open">{{edit.site.open}} open edits</a> |
        {% endifnotequal %}
      {% endif %}
    
      {% if prev and next %}
        | <a href="{{edit.site.permalink}}/open">{{edit.site.open}} open edits</a> |
      {% endif %}
    
      {% if next %}
        <a href="{{next.permalink}}">{{next.proposal|truncate:32|utf8|escape}} &rarr;</a>
      {% else %}
        {% ifnotequal edit.site.open 1 %}
          | <a href="{{edit.site.permalink}}/open">{{edit.site.open}} open edits</a>
        {% endifnotequal %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
