{% extends "../base.html" %}

{% block title %}
  Emend > {{site.domain}} > Open edits
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > <a href="/sites">Sites</a> > Open edits</h1>

  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li>
          <a href="{{edit.permalink}}">&ldquo;{{edit.proposal|escape}}&rdquo;</a> at <a href="{{edit.site.permalink}}">{{edit.site}}</a>
        </li>
      {% endfor %}
    </ul>
  
    {% if has_prev or has_next %}
      <p class="prev-next">
        {% if has_next %}
          <a href="{{site.permalink}}/open?from={{next_from}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  
  {% else %}
    <p>No open edits.</p>
  {% endif %}
  
{% endblock %}
