{% extends "base.html" %}

{% block head %}
  {% if has_next %}
    <link rel href="{{user.permalink()}}/closed?from={{next_from}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > {{user|escape}} > Closed edits
{% endblock %}

{% block header %}
  > <a href="/users">Users</a> > <a href="{{user.permalink()}}">{{user|escape}}</a> > Closed edits
{% endblock %}

{% block content %}
<div class="twelvecol">  
  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li>
          <a href="{{edit.permalink()}}">&ldquo;{{edit.original|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|escape}}&rdquo;</a>
          at <a href="{{edit.site.permalink()}}">{{edit.site|escape}}</a>
          {{edit.created_pretty_timedelta()}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if has_prev or has_next %}
      <p class="prev-next">
        {% if has_next %}
          <a href="{{user.permalink()}}/closed?from={{next_from}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  
  {% else %}
    <p>No closed edits.</p>
  {% endif %}
</div>
{% endblock %}
