{% extends "base.html" %}

{% block head %}
  {% if previous %}
    <link rel="prev" href="{{previous.url}}" />
  {% endif %}
  {% if next %}
    <link rel="next" href="{{next.url}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > Users
{% endblock %}

{% block header %}
  > Users
{% endblock %}

{% block content %}
<div class="twelvecol">
  <h2 class="first">Most active users</h2>

  {% if users %}
    <ul>
      {% for user in users %}
        <li class="gravatar">
          {{gravatar(user)}}
          <a href="{{user.permalink(handler.urlize)}}">{{user|escape}}</a>
          {{user.pretty_counts()}}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No users</p>
  {% endif %}
  
  {% if previous or next %}
    <p class="prev-next">
      {% if previous %}
        <a href="{{previous.url}}">&larr; prev</a>
      {% endif %}

      {% if previous and next %}|{% endif %}

      {% if next %}
        <a href="{{next.url}}">next &rarr;</a>
      {% endif %}
    </p>
  {% endif %}
</div>
{% endblock %}
