{% extends "base.html" %}

{% block head %}
  {% if from_key %}
    <link rel="next" href="/users?from={{from_key}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > Users
{% endblock %}

{% block header %}
  > Users
{% endblock %}

{% block content %}
<div class="twelvecol">
  <h2 class="first">Most active users</h2>

  {% if users %}
    <ul>
      {% for user in users %}
        <li class="gravatar">
          {{gravatar(user)}}
          <a href="{{user.permalink()}}">{{user|escape}}</a>
          {{user.pretty_counts()}}
        </li>
      {% endfor %}
    </ul>
  
    {% if from_key %}
      <p class="prev-next">
        {% if from_key %}
          <a href="/users?from={{from_key}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  {% else %}
    <p>No users</p>
  {% endif %}
</div>
{% endblock %}
