{% extends "base.html" %}

{% block head %}
  {% if next %}
    <link re="next" href="{{next.url}}" />
  {% endif %}
{% endblock %}

{% block title %}
  Emend > {{user|escape}} > Open edits
{% endblock %}

{% block header %}
  > <a href="/users">Users</a> > <a href="{{user.permalink()}}">{{user|escape}}</a> > Open edits
{% endblock %}

{% block content %}
<div class="twelvecol">  
  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li>
          <a href="{{edit.permalink()}}">&ldquo;{{edit.original|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|escape}}&rdquo;</a>
          at <a href="{{edit.site.permalink()}}">{{edit.site|escape}}</a>
          {{edit.created_pretty_timedelta()}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if next %}
      <p class="prev-next">
        {% if next %}
          <a href="{{next.url}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  
  {% else %}
    <p>No open edits.</p>
  {% endif %}
</div>
{% endblock %}
