.no-iphone {
  display: none;
}

.cols-2-1 .alpha,
.cols-2-1 .beta {
  float: none;
  width: auto;
  margin: 0;
}

form {
  margin-left: 0; 
}

label.field input.text,
label.field textarea {
  width: 600px;
  font-size: 2em;
}

label.buttons input {
  font-size: 1.5em;
}
