/* content, footer */

body {
  margin: 0;
  background: #333;
  font-family: Arial, Helvetica;
  text-align: center;
}

#content {
  color: #333;
  background: #FFF;
}

#footer {
  color: #EEE;
}

.area {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 15px 0;
}

/* general */

.cleaner {
  clear: both;
  height: 1px;
  overflow: hidden;
}

h1 {
  color: #333;
  margin: 0;
  border-bottom: solid 1px #AAA;
}

h2 {
  margin: 20px 0 0 0;
}

h3 {
  margin: 20px 0 0 0;
}

p {
  margin: 10px 0
}

.center {
  text-align: center;
}

/* links */

span.fakelink,
a {
  color: #D33;
  text-decoration: none;
  cursor: pointer;
}

span.fakelink:hover,
a:hover {
  color: #FFF;
  background: #D33;
  cursor: pointer;
}

/* columns */

.cols-2-1 .alpha {
  float: left;
  width: 380px;
  margin-right: 20px;
}

.cols-2-1 .beta {
  float: left;
  width: 200px;
}

/* lists */

ul {
  padding-left: 20px;
}

ul li {
  margin: 10px 0;
}

/* forms and fields */

form {
  margin: 20px 0 0 40px;
}

label.field {
  display: block;
  margin-bottom: 10px;
}

label.field .name {
  font-weight: bold;
  display: block;
}

label.field input.text,
label.field textarea {
  border: solid 1px #999;
  padding: 3px;
  width: 300px;
  vertical-align: text-top;
}

/* errors */

.error {
  color: #D33;
  font-weight: bold;
  display: block;
}

/* prev-next */

.prev-next {
  text-align: center;
}

/* diff */

.diff.original .different {
  background: #FAA;
}

.diff.proposal .different {
  background: #ADA;
}
