{% extends "base.html" %}

{% block title %}
  Emend > Search
{% endblock %}

{% block header %}
  > Search
{% endblock %}

{% block content %}
<div class="fourcol">
    <h2 class="first">Search edits</h2>

    <form action="/search/edits" method="get">
      <label class="field" for="q">
        <span class="name">Query</span>
        <input type="search" class="text" name="q" id="q" value=""/>
      </label>
      <label class="field buttons">
        <input type="submit" value="Search" class="awesome grey button"/>
      </label>
    </form>
  </div>
</div>
{% endblock %}
