{% extends "../base.html" %}

{% block title %}
  Emend > Search > {{query|default:default_heading|escape}}
{% endblock %}


{% block content %}
  <h1><a href="/">Emend</a> > <a href="/search">Search</a> > {{query|default:default_heading|escape}}</h1>
  
  <h2>Search results</h2>
  
  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink}}">&ldquo;{{edit.original|utf8|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|utf8|escape}}&rdquo;</a>
            by <a href="{{edit.author.permalink}}">{{edit.author|utf8|escape}}</a>
          {{edit.created_pretty_timedelta}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if to_key or from_key %}
      <p class="prev-next">
        {% if to_key %}
          <a href="/search/edits?status={{status}}&amp;q={{query}}&amp;to={{to_key}}">&larr; prev</a>
        {% endif %}
        {% if to_key and from_key %}
          |
        {% endif %}
        {% if from_key %}
          <a href="/search/edits?status={{status}}&amp;q={{query}}&amp;from={{from_key}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  {% else %}
    <p>No edits matched your query.</p>
  {% endif %}
{% endblock %}
