/* content, footer */

body {
  background: #333;
  font-family: "Vollkorn", Arial;
}

.row {
  max-width: 767px;
}

a {
  border-bottom: none;
}

#header {
  padding-bottom: 20px;
  padding-top: 20px;
}

#header h1 {
  color: #333;
  border-bottom: solid 1px #AAA;
}

#content {
  color: #333;
  background: #FFF;
  padding-bottom: 20px;
}

#footer {
  color: #EEE;
  background: #333;
  padding-top: 20px;
}

.cleaner {
  clear: both;
  height: 1px;
  overflow: hidden;
}

h2 {
  margin: 0;
  padding-top: 1em;
}

h3 {
  margin: 2em 0 0 0;
  padding-top: 1em;
}

h2.first, h3.first {
  padding-top: 0;
}

p {
  margin: .5em 0
}

.center {
  text-align: center;
}

/* awesome buttons */

.awesome.button.grey {
  background-color: #333 !important;
}

/* links */

span.fakelink,
a {
  color: #D33;
  text-decoration: none;
  cursor: pointer;
}

span.fakelink:hover,
a:hover {
  color: #FFF;
  background: #D33;
  cursor: pointer;
}

/* lists */

ul {
  padding-left: 1em;
}

ul li {
  margin: .5em 0;
}

/* forms and fields */

form {
  
}

label.field {
  display: block;
  margin-bottom: 10px;
}

label.field .name {
  font-weight: bold;
  display: block;
}

label.field input.text,
label.field textarea {
  border: solid 1px #999;
  padding: 3px;
  width: 100%;
  vertical-align: text-top;
}

/* errors */

.error {
  color: #D33;
  font-weight: bold;
  display: block;
}

/* prev-next */

.prev-next {
  text-align: center;
}

/* gravater */

li.gravatar {
  list-style-type: none;
  position: relative;
  margin-left: .5em;
}

li.gravatar img.gravatar {
  position: absolute;
  width: 1em;
  height: 1em;
  top: .15em;
  left: -1.5em;
}

.feature img.gravatar {
  float: right;
  width: 48px;
  height: 48px;
  margin: 0 0 10px 10px;
}

a img.gravatar {
  border: none;
}

.chrome {
  display: none;
}

/* mobile */

@media handheld, only screen and (max-width: 767px) {

body {
  line-height: normal;
}

#header h1 {
  margin-left: 20px;
  margin-right: 20px;
}

li.gravatar img.gravatar { 
  width: 1.2em;
  height: 1.2em;
  top: .3em;
  left: -1.65em;
}

img.gravatar.feature {
  height: 72px;
  width: 72px;
}

.no-iphone {
  display: none;
}

.cols-2-1 .alpha,
.cols-2-1 .beta {
  float: none;
  width: auto;
  margin: 0;
  border: 0;
  padding: 0;
}

form {
  margin-left: 0; 
}

label.field input.text,
label.field textarea {
  width: 100%;
/*  font-size: 2em;*/
}

label.buttons input {
  font-size: 1.5em;
}

}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

}
