{% extends "base.html" %}

{% block title %}
  Emend > Search > {{heading|escape}}
{% endblock %}

{% block head %}
  {% if to_key %}
    <link rel="prev" href="/search/edits?status={{status}}&amp;q={{query}}&amp;to={{to_key}}" />
  {% endif %}
  {% if from_key %}
    <link rel="next" href="/search/edits?status={{status}}&amp;q={{query}}&amp;from={{from_key}}" />
  {% endif %}
{% endblock %}

{% block header %}
  > <a href="/search">Search</a> > {{heading|escape}}
{% endblock %}

{% block content %}
<div class="twelvecol">
  <h2 class="first">Search results</h2>
  
  {% if edits %}
    <ul>
      {% for edit in edits %}
        <li class="gravatar">
          {{edit.author.gravatar}}
          <a href="{{edit.permalink()}}">&ldquo;{{edit.original|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|escape}}&rdquo;</a>
            by <a href="{{edit.author.permalink()}}">{{edit.author|escape}}</a>
          {{edit.created_pretty_timedelta()}}  
        </li>
      {% endfor %}
    </ul>
  
    {% if to_key or from_key %}
      <p class="prev-next">
        {% if to_key %}
          <a href="/search/edits?status={{status}}&amp;q={{query}}&amp;to={{to_key}}">&larr; prev</a>
        {% endif %}
        {% if to_key and from_key %}
          |
        {% endif %}
        {% if from_key %}
          <a href="/search/edits?status={{status}}&amp;q={{query}}&amp;from={{from_key}}">next &rarr;</a>
        {% endif %}
      </p>
    {% endif %}
  {% else %}
    <p>No edits matched your query.</p>
  {% endif %}
</div>
{% endblock %}
