{% extends "base.html" %}

{% block title %}
  Emend > About
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > About</h1>
  
  <img src="/images/app_engine.jpg" style="float: right">
  
  <p>
    Emend was created by <a href="http://johntantalo.com">John Tantalo</a> based
    on original ideas by <a href="http://globalspin.com">Chris Radcliff</a> and
    <a href="http://h3h.net">Brad Fults</a>.
  </p>
  
  <p>
    Emend is written in <a href="http://python.org">Python</a> and runs
    on <a href="http://code.google.com/appengine/">Google App Engine</a>.
  </p>
    
  <p>
    The code behind Emend is available at
    <a href="http://github.com/dodgeballcannon/emend">GitHub</a> under the
    <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative
    Commons Attribution-Share Alike 3.0 United States License</a>.
  </p>

  <div class="cleaner"></div>
{% endblock %}
