{% extends "base.html" %}

{% block title %}
  Emend > About
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > About</h1>
  
  <h2>
    What is Emend?
  </h2>
  
  <div style="float: right; text-align: right;">
    <a href="http://xkcd.com/386/">
      <img src="http://imgs.xkcd.com/comics/duty_calls.png" title="Duty calls" style="float: right; border: 0; margin: 0 0 0px 5px;">
    </a>
    <br>
    <a href="http://xkcd.com/license.html">xkcd.com</a> (Randall Munroe)
  </div>
  
  <p>
    Emend is a service for alerting website owners and authors of grammatical and
    spelling mistakes found on their site.
  </p>
  
  <p>
    Simply subscribe to <span
    class="fakelink">http://{{handler.host}}/sites/yourdomain.com?atom</span> to get
    a feed of proposed edits for your site.
  </p>
  
  <p>
    To control spam, you will need a <a
    href="https://www.google.com/accounts/">Google Account</a> before proposing edits.
  </p>
  
  <p>
    Emend was created by <a href="http://johntantalo.com">John Tantalo</a> based
    on original ideas by <a href="http://globalspin.com/chris">Chris Radcliff</a> and
    <a href="http://h3h.net">Brad Fults</a>.
  </p>
  
  <p>
    Emend is written in <a href="http://python.org">Python</a> and runs
    on <a href="http://code.google.com/appengine/">Google App Engine</a>.
  </p>
    
  <p>
    The code behind Emend is available on
    <a href="http://github.com/dodgeballcannon/emend">GitHub</a> under the
    <a href="/LICENSE">MIT License</a>.
  </p>

  <div class="cleaner"></div>
{% endblock %}
