<html>
  <head>
    <title>{% block title %}Emend{% endblock %}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/site.jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jellyfish.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/site.jellyfish.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" />
    <link rel="alternate" type="json" href="{{"json"|on_path}}" />
    <link rel="alternate" type="yaml" href="{{"yaml"|on_path}}" />
    <link rel="alternate" type="xml" href="{{"xml"|on_path}}" />
    <meta name="viewport" content="width=630">
    
    {% block head %}{% endblock %}
    
  </head>
  <body>
    <div id="content" class="{% block content_class %}{% endblock %}">
      <div class="area">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="area">
        <div class="user-box">
          {% if handler.current_user %}
            <p>
              You are <a tabindex="100" id="current-user" href="{{handler.current_user.permalink}}">{{handler.current_user|utf8|escape}}</a> -
              <span tabindex="101" class="fakelink change-nickname">Change nickname</span> -
              <a tabindex="102" href="{{handler.logout_url}}">Log out</a>
              <input type="hidden" id="current-user-permalink" value="{{handler.current_user.permalink}}">
            </p>
          {% else %}
            <p>
              <a tabindex="103" href="{{handler.login_url}}">Log in now</a> with your Google Account
            </p>
          {% endif %}
        </div><!-- end user-box -->
        <p>
          <a tabindex="120" href="/">Home</a> -
          <a tabindex="121" href="/about">About</a> -
          {% if handler.twitter_credentials.screen_name %}
            <a tabindex="122" href="http://twitter.com/{{handler.twitter_credentials.screen_name}}">Twitter</a> -
          {% endif %}
          <a tabindex="123" href="/sites">Sites</a> -
          <a tabindex="124" href="/users">Users</a> -
          <a tabindex="125" href="/search">Search</a>
        </p>
        {% if handler.is_admin %}
          <p>You are an <strong>admin</strong></p>
          <p>
            {% for item in handler.config.admin.items %}
              <a tabindex="{{forloop.counter0|add:150}}" href="{{item.1}}">{{item.0}}</a>
              {% if not forloop.last %}-{% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% if is_dev %}
          <p>This is <strong>development</strong></p>
        {% endif %}
      </div> <!-- end area -->
    </div><!-- end footer -->    
    
    {% if not is_dev %}
      <!-- google analytics -->
      <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
      <script type="text/javascript">
        try {_gat._getTracker("UA-7312081-1")._trackPageview();} catch(err) {}
      </script>
      <!-- end google analytics -->
    {% endif %}
    
  </body>
</html>
