{% macro form_error(name) -%}
  {% if errors and errors[name] %}
     <span class="error">{{errors[name]}}</span>
  {% endif %}
{%- endmacro %}
{% macro on_path(value) -%}
  {% set query = handler.environ() %}
  {% if query %}
  {% else %}
    ?{{value}}
  {% endif %}
{%- endmacro %}
{% macro gravatar(user, size) -%}
  <a href="{{user.permalink()}}">
    <img class="gravatar" src="{{user.gravatar_url()}}?s={{size}}" alt="{{user|escape}}">
  </a>
{%- endmacro %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Emend{% endblock %}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/site.jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jellyfish.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/site.jellyfish.js"></script>
    <link  href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  	<meta name="viewport" content="width=device-width" />
  	<link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen" />
  	<!--[if lte IE 9]>
  	<link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" />
  	<![endif]-->
  	<link rel="stylesheet" href="/css/mobile.css" media="handheld, only screen and (max-width: 767px)" />
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link type="text/css" rel="stylesheet" href="/css/awesome-buttons.css">
    <link rel="icon" href="/favicon.ico" />
    <link rel="alternate" type="text/json" href="{{on_path("json")}}" />
    <link rel="alternate" type="text/yaml" href="{{on_path("yaml")}}" />
    <link rel="alternate" type="text/xml" href="{{on_path("xml")}}" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    {% block head %}{% endblock %}
    
  </head>
  <body>
    <div id="content" class="container">
      <div id="header" class="row">
        <h1><a href="/">Emend</a>{% block header %}{% endblock %}</h1>
      </div>
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer" class="container">
      <div class="row">
        <div class="twelvecol last">
        <div class="user-box">
          {% if handler.current_user() %}
            <p>
              You are <a tabindex="100" id="current-user" href="{{handler.current_user().permalink()}}">{{handler.current_user()|escape}}</a> -
              <span tabindex="101" class="fakelink change-nickname">Change nickname</span> -
              <a tabindex="102" href="{{handler.logout_url()|escape}}">Log out</a>
              <input type="hidden" id="current-user-permalink" value="{{handler.current_user().permalink()}}">
            </p>
          {% else %}
            <p>
              <a tabindex="103" href="{{handler.login_url()|escape}}">Log in now</a> with your Google Account
            </p>
          {% endif %}
        </div>
        <p>
          <a tabindex="120" href="/">Home</a> -
          <a tabindex="121" href="/about">About</a> -
          {% if handler.config().contact.admin %}
            <a tabindex="126" href="mailto:{{handler.config().contact.admin}}">Contact</a> -
          {% endif %}
          {% if handler.twitter_credentials.screen_name %}
            <a tabindex="122" href="http://twitter.com/{{handler.twitter_credentials.screen_name}}">Twitter</a> -
          {% endif %}
          <a tabindex="123" href="/sites">Sites</a> -
          <a tabindex="124" href="/users">Users</a> -
          <a tabindex="125" href="/search">Search</a>
        </p>
        {% if handler.is_admin() %}
          <p>You are an <strong>admin</strong></p>
          <p>
            {% for item in handler.config().admin %}
              <a tabindex="{{forloop.counter0+150}}" href="{{item.1}}">{{item.0}}</a>
              {% if not forloop.last %}-{% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% if is_dev %}
          <p>This is <strong>development</strong></p>
        {% endif %}
      </div>
      </div>
    </div>
    
    {% if not is_dev %}
      <!-- google analytics -->
      <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
      <script type="text/javascript">
        try {_gat._getTracker("UA-7312081-1")._trackPageview();} catch(err) {}
      </script>
      <!-- end google analytics -->
    {% endif %}
    
  </body>
</html>
