{% extends "base.html" %}

{% block title %}
  Emend{% if handler.config.tagline %}: {{handler.config.tagline}}{% endif %}
{% endblock %}

{% block head %}
  <link href="/?atom" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed" />
{% endblock %}

{% block content_class %}
  cols-2-1
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a></h1>
  
  <div class="alpha">
  	{% if handler.config.tagline %}
      <h2>{{handler.config.tagline}}</h2>
    {% endif %}
    
    <p><i>Emend</i> (verb), to improve by critical editing.</p>
    
    <p>From the Latin <i>emendare</i>, &ldquo;to free from fault.&rdquo;</p>
    
    {% if local_edit %}
      <h2>Latest <a href="{{local_edit.site.permalink}}">{{local_edit.site}}</a> edit</h2>
      <ul><li>
        <a href="{{local_edit.permalink}}">&ldquo;{{local_edit.original}}&rdquo;
          should be &ldquo;{{local_edit.proposal}}&rdquo;</a> by
        <a href="{{local_edit.author.permalink}}">{{local_edit.author}}</a>
        {{local_edit.created_pretty_timedelta}}
      </li></ul>
    {% endif %}
    
    <h2>Make a new edit</h2>
    {% if handler.current_user %}
      <form action="/" method="post">
        <label class="field">
          <span class="name">URL</span>
          <input type="url" class="text" name="url" value="{{url}}"/>
          {% form_error url %}
        </label>
        <label class="field">
          <span class="name">Original</span>
          <textarea name="original">{{original}}</textarea>
          {% form_error original %}
        </label>
        <label class="field">
          <span class="name">Proposal</span>
          {% if suggestion %}
            <span>
             May we suggest <span class="fakelink click-suggestion">{{suggestion}}</span>?
            </span>
          {% endif %}  
          <textarea name="proposal">{{proposal}}</textarea>
          {% form_error proposal %}
        </label>
        <label class="field buttons">
          <input type="submit" value="Submit proposal"/>
        </label>
      </form>
    {% else %}
      <p>
        Please <a href="{{handler.login_url}}">log in</a> with your Google Account first.
      </p>
      <p class="no-iphone">
        <object width="380" height="238"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=3412718&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=dd3333&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=3412718&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=dd3333&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="380" height="238"></embed></object>
      </p>
    {% endif %}
  </div>
  
  <div class="beta">
    <h2>Latest open edits</h2>
    {% if edits %}
      <ul>
        {% for edit in edits %}
          <li>
            <a href="{{edit.permalink}}">&ldquo;{{edit.proposal|utf8|escape|truncate:32}}&rdquo;</a>
            by <a href="{{edit.author.permalink}}">{{edit.author|escape}}</a>
            {{edit.created_pretty_timedelta}}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No edits.</p>
    {% endif %}
    
    <h2>More neat stuff</h2>    
    <p>Browse the <a href="/sites">list of sites</a></p>
    <p>Try to <a href="/search">search for an edit</a></p
    {% if handler.twitter_credentials.screen_name %}
      <p>Follow <a href="http://twitter.com/{{handler.twitter_credentials.screen_name}}">Emend on Twitter</a></p>
    {% endif %}
    <p>Use <a href="/iphone">Emend on iPhone</a></p>
    <p>Try the <a href="/jetpack">Emend Jetpack</a></p>
    <p>Add an <a href="/widgets">Emend widget</a></p>
    <p>Bookmarklet: <a href="javascript:({{bookmarklet}})()">Emend</a></p>
  </div>
  <div class="cleaner"></div>
{% endblock %}
