{% extends "base.html" %}

{% block head %}
  <link rel="jetpack" href="js/jetpack.js"/>
{% endblock %}

{% block title %}
  Emend > Jetpack
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > Jetpack</h1>
  
  <h2>
    What is Jetpack?
  </h2>
  
  <p>
    <a href="https://jetpack.mozillalabs.com/">Jetpack</a> is an add-on for Mozilla
    Firefox that enables anyone who knows HTML, CSS, and JavaScript to create powerful
    Firefox add-ons. <a href="https://addons.mozilla.org/en-US/firefox/addon/12025">Add Jetpack now</a>.
  </p>
  
  <p>
    Emend has a Jetpack which will automatically load the latest proposed edits for the
    pages you visit and fix the mistakes inline.
  </p>
  
  <p>
    Once you have Jetpack installed, you will be prompted to install the Emend Jetpack.
  </p>
{% endblock %}
