{% extends "base.html" %}

{% block title %}
  Emend > Widgets
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > Widgets</h1>
  
  <h2>Edit widget</h2>
  
  <p>Copy the widget code below to your blog or what-have-you.</p>
  
  <p>When some text is selected, the link will automatically open Emend in a new page with the selected text as the <em>original</em> text of  a new edit.</p>
  
  <p>When no text is selected, the user will be prompted to select a portion of the page in need of correction.</p>
  
  <h3>Source code</h3>
  <textarea id="edit-widget" style="width: 100%; height: 7em;">{{edit_widget}}</textarea>
  <script type="text/javascript" charset="utf-8">
    $(function()
    {
      $("#edit-widget").click(function ()
      {
        this.select();
      });
    });
  </script>
  
  <h3>Sample</h3>
  
  {{edit_widget}}
  
{% endblock %}
