{% extends "../base.html" %}

{% block title %}
  Emend > {{user|utf8|escape}}
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > <a href="/users">Users</a> > {{user|utf8|escape}}</h1>
  
  <h2>Most recent open edits</h2>
      
  {% if open %}
    <ul>
      {% for edit in open %}
        <li>
          <a href="{{edit.permalink}}">&ldquo;{{edit.original|utf8|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|utf8|escape}}&rdquo;</a>
          at <a href="{{edit.site.permalink}}">{{edit.site|escape}}</a>
          {{edit.created_pretty_timedelta}}  
        </li>
      {% endfor %}
    </ul>
    {% if has_next_open %}
      <p class="prev-next">
        <a href="{{user.permalink}}/open?from={{next_open_from}}">more open &rarr;</a>
      </p>
    {% endif %}
  {% else %}
    <p>No edits.</p>
  {% endif %}
  
  <h2>Most recent closed edits</h2>
      
  {% if closed %}
    <ul>
      {% for edit in closed %}
        <li>
          <a href="{{edit.permalink}}">&ldquo;{{edit.original|utf8|escape}}&rdquo;
            should be &ldquo;{{edit.proposal|utf8|escape}}&rdquo;</a>
          at <a href="{{edit.site.permalink}}">{{edit.site|escape}}</a>
          {{edit.created_pretty_timedelta}}  
        </li>
      {% endfor %}
    </ul>
    {% if has_next_closed %}
      <p class="prev-next">
        <a href="{{user.permalink}}/closed?from={{next_closed_from}}">more closed &rarr;</a>
      </p>
    {% endif %}
  {% else %}
    <p>No edits.</p>
  {% endif %}
  
  {% if user.can_edit %}
    <h2>Other stuff</h2>
    
    <p><a href="{{user.shareable_permalink}}">Shareable permalink</a></p>
  {% endif %}
{% endblock %}