{% extends "../base.html" %}

{% block title %}
  Emend > Sites
{% endblock %}

{% block content %}
  <h1><a href="/">Emend</a> > Sites</h1>

  <h2>Most popular sites</h2>

  {% if sites %}
    <ul>
      {% for site in sites %}
        <li>
          <a href="{{site.permalink}}">{{site.domain}}</a>
          {% counts site %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No sites</p>
  {% endif %}
  
  {% if has_prev or has_next %}
    <p class="prev-next">
      {% if has_prev %}
        <a href="/sites?from={{prev_from}}">&larr; prev</a>
      {% endif %}
    
      {% if has_prev and has_next %}|{% endif %}
    
      {% if has_next %}
        <a href="/sites?from={{next_from}}">next &rarr;</a>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}

